{% extends '../base.html' %}
{% block main %}
    {% for post in posts %}
        <h1><a href="/post/{{ post['id'] }}">{{ post['title'] }}</a></h1>
        <div class="download">
            <table class="table">
                <thead>
                    <tr>
                        <th>Format</th><th>Size</th><th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for download in post['download'] %}
                        <tr>
                            <td>{{ download['format'] }}</td>
                            <td>{{ download['size'] }}</td>
                            <td><a href="{{ download['href'] }}">{{ download['name'] }}</a></td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        <hr>
    {% end %}
    <div>
        <ul class="pagination">
        <li {% if page < 10 %}class="disabled"{% end %}><a href="/page/{{ page-10 }}">&laquo;</a></li>
        {% for i in range(page-5, page+5) if page>5 else range(page+5) %}
            {% if i == page %}
                <li class="active"><a href="/page/{{ page }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="/page/{{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% end %}
        {% end %}
        <li><a href="/page/{{ page+10 }}">&raquo;</a></li>
        </ul>
    </div>
{% end %}