{% extends '../base.html' %}
{% block main %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
                <small>
                    <span>
                        <a href="{{ post['alt'] }}" title="去豆瓣查看" target="_blank">
                            <img src="{{ static_url('image/douban/favicon_24x24.png') }}">
                        </a>
                        {{ post['rating'] }}
                    </span>&nbsp
                    <span>
                        {% for genre in post['genres'] %}
                            <a href="/movie?genres={{ genre }}">{{ genre }}</a>
                        {% end %}
                    </span>
                    <span class="pull-right">
                        <a href="/post/{{ post['id'] }}#download" class="btn btn-default btn-lg" title="影片下载">
                            <span class="glyphicon glyphicon-download-alt"></span> {{ len(post['download']) }}
                        </a>
                    </span>
                </small>
            </h1>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <a href="/post/{{ post['id'] }}"><img class="col-md-12" src="{{ post['image'] }}" height="350px"></a>
                </div>
                <div class="col-md-7">
                    <p>片名： {{ post['title'] }}</p>
                    <p>年代： <a href="/movie?year={{ post['year'] }}">{{ post['year'] }}</a></p>
                    <p>导演:&nbsp&nbsp
                        {% for director in post['directors'] %}
                            <a href="/movie?directors={{ director }}">{{ director }}</a>
                        {% end %}
                    </p>
                    <p>主演:&nbsp&nbsp
                        {% for cast in post['casts'] %}
                            &nbsp<a href="/movie?casts={{ cast }}">{{ cast }}</a>
                        {% end %}
                    </p>
                    <p>简介： {{ post['summary'][0:240] }}</p>
                </div>
            </div>
        </div>
        <hr>
    {% end %}
    {% module PageNav(page_nav) %}
{% end %}