{% extends '../base.html' %}
{% block main %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
                <small>
                    <span>
                        <a href="{{ post['alt'] }}" title="去豆瓣查看" target="_blank">
                            <img src="{{ static_url('image/douban/favicon_24x24.png') }}">
                        </a>
                        {{ post['rating'] }}
                    </span>&nbsp
                    <span>
                        {% for genre in post['genres'] %}
                            <a href="/movie?genre={{ genre }}">{{ genre }}</a>
                        {% end %}
                    </span>
                </small>
            </h1>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <img class="col-md-12" src="{{ post['image'] }}">
                </div>
                <div class="col-md-7">
                    <p>片名： {{ post['title'] }}</p>
                    <p>年代： <a href="/movie?year={{ post['year'] }}">{{ post['year'] }}</a></p>
                    <p>导演:&nbsp&nbsp
                        {% for director in post['directors'] %}
                            <a href="/movie?director={{ director }}">{{ director }}</a>
                        {% end %}
                    </p>
                    <p>主演:&nbsp&nbsp
                        {% for cast in post['casts'] %}
                            &nbsp<a href="/movie?cast={{ cast }}">{{ cast }}</a>
                        {% end %}
                    </p>
                    <p>简介： {{ post['summary'][0:240] }}</p>
                </div>
            </div>
        </div>
        <hr>
    {% end %}
    <div>
        <ul class="pagination">
        <li {% if page < 10 %}class="disabled"{% end %}><a href="/page/{{ page-10 }}">&laquo;</a></li>
        {% for i in range(page-5, page+5) if page>5 else range(page+5) %}
            {% if i == page %}
                <li class="active"><a href="/page/{{ page }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="/page/{{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% end %}
        {% end %}
        <li><a href="/page/{{ page+10 }}">&raquo;</a></li>
        </ul>
    </div>
{% end %}