<!DOCTYPE html>
<html>
<head>
{% include 'public/head.html' %}
</head>
<body>
<div id="wrap" class="container">
    {% include public/header.html %}
    {% block container %}
        <div id="main" class="col-md-8 col-sm-7">
            {% block main %}
            {% end %}
        </div>
        <div id="side" class="col-md-4 col-sm-5">
            {% block side %}
                {% include 'public/side.html' %}
            {% end %}
        </div>
    {% end %}
</div>
<hr>
{% include 'public/footer.html' %}
</body>
</html>