<div>
    <ul class="pagination">
    <li {% if page < 10 %}class="disabled"{% end %}><a href="/page/{{ page-10 }}">&laquo;</a></li>
    {% for i in range(page-5, page+5) if page>5 else range(page+5) %}
        {% if i == page %}
            <li class="active"><a href="/page/{{ page }}">{{ i }}<span class="sr-only">(current)</span></a></li>
        {% else %}
            <li><a href="/page/{{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
        {% end %}
    {% end %}
    <li><a href="/page/{{ page+10 }}">&raquo;</a></li>
    </ul>
</div>